[submodule "raylib"]
  path = lib/raylib
  url = https://github.com/raysan5/raylib.git

[submodule "ponio_android_controller"]
  path = ponio_android_controller
  url = https://github.com/ashudevcodes/ponio_android_controller.git
